html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
}


h1 {
  font-size: 50px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: navy;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: darkseagreen;
  padding: 0 90px 90px 90px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 10px 0;
  color: navy;
  text-shadow: 1px 1px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
